*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, textarea {
  outline: none;
  border: none;
  background: none;
  appearance: none;
}

ul {
  list-style-type: none;
}

.body {
  height: 100vh;
  width: 100vw;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50vw - 270px);
  }
}
@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50vw - 360px);
  }
}
@media (min-width: 991.98px) {
  .container {
    padding: 0 calc(50vw - 480px);
  }
}
@media (min-width: 1199.98px) {
  .container {
    padding: 0 calc(50vw - 590px);
  }
}
.body {
  background-color: white;
  font-family: Montserrat;
  position: relative;
  overflow-x: hidden;
}

.background-image__container {
  position: relative;
}

.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 20px;
}
.header__categories {
  display: flex;
  column-gap: 30px;
  row-gap: 10px;
}
.header__title {
  font-size: 30px;
  font-family: Courgette;
}
.header__shopping-cart {
  position: relative;
}
.header__shopping-cart:hover {
  color: azure;
}
.header__shopping-cart-image {
  font-size: 25px;
  width: 30px;
  height: 30px;
}
.header__category:hover {
  color: azure;
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 70vh;
}
.main-block__background-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(3px);
}
.main-block__title {
  font-family: Courgette;
  font-size: 50px;
  margin: 20px 0px;
}
.main-block__slogan {
  margin: 10px 0px;
  font-size: 20px;
}
.main-block__button {
  margin: 10px 0px;
  font-size: 18px;
  box-shadow: 3px 3px rgba(51, 51, 51, 0.231372549);
  background-color: rgb(160, 105, 63);
  padding: 0.3rem;
  border-radius: 5px;
}
.main-block__button:hover {
  background-color: rgb(87, 56, 36);
}

.featured__container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.featured__title {
  padding: 0.5rem;
  font-size: 20px;
  text-align: center;
}
.featured__title::before {
  content: "/ ";
  color: rgb(190, 97, 25);
}
.featured__products {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 15px;
}
.featured__product {
  background-color: rgb(201, 182, 166);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 400px;
  row-gap: 10px;
  box-shadow: 3px 3px rgba(51, 51, 51, 0.231372549);
  text-align: center;
}
.featured__product:hover {
  background-color: rgb(226, 212, 198);
}
.featured__button-to-all {
  padding: 0.8rem;
  box-shadow: 3px 3px rgba(51, 51, 51, 0.231372549);
  background-color: rgb(160, 105, 63);
  border-radius: 5px;
  text-transform: uppercase;
}
.featured__button-to-all:hover {
  background-color: rgb(87, 56, 36);
}
.featured__image {
  max-width: 100%;
}
.featured__name {
  font-weight: 700;
  font-size: 18px;
}

.about {
  display: block;
}
.about__container {
  display: flex;
  flex-direction: column;
}
.about__section-title {
  padding: 30px 0;
  font-size: 25px;
}
.about__title {
  text-align: center;
  padding: 30px 0;
}
.about__title::before {
  content: "/ ";
  color: rgb(190, 97, 25);
}
.about__text {
  text-align: justify;
  padding: 10px 0;
}

.section-title__container {
  background-color: rgb(201, 182, 166);
  width: 100%;
  height: 100px;
}

.shopping-cart {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100vh;
  width: 30vw;
  background-color: white;
  box-shadow: 0 0 0 999em rgba(0, 0, 0, 0.8);
}
.shopping-cart__close-button {
  width: 50px;
  height: 50px;
  font-size: 30px;
}
.shopping-cart__title {
  font-size: 30px;
  font-family: Courgette;
  text-align: center;
  padding: 1rem;
}
.shopping-cart__products {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
.shopping-cart__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 2px rgba(51, 51, 51, 0.231372549);
}
.shopping-cart__total {
  text-align: center;
  font-family: Courgette;
  font-size: 30px;
  padding: 1rem;
}
.shopping-cart__checkout-button {
  padding: 1rem;
  box-shadow: 3px 3px rgba(51, 51, 51, 0.231372549);
  margin-bottom: 30px;
  background-color: rgb(160, 105, 63);
  border-radius: 4px;
}
.shopping-cart__checkout-button:hover {
  background-color: rgb(87, 56, 36);
}

.shopping-cart-product {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  border-top: solid 2px rgba(51, 51, 51, 0.231372549);
  padding: 15px;
}
.shopping-cart-product__image-container {
  width: 200px;
  height: 100px;
  padding: 10px;
}
.shopping-cart-product__image {
  max-width: 100%;
}
.shopping-cart-product__details {
  flex: 1 1 0;
}
.shopping-cart-product__name {
  font-weight: 700;
  font-size: 20px;
}
.shopping-cart-product__price {
  padding: 10px 0;
  font-weight: 700;
  color: rgb(160, 105, 63);
}
.shopping-cart-product__remove-button {
  font-size: 18px;
}

.product-count {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.product-count__button {
  font-size: 25px;
}

.products {
  display: block;
}
.products__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  column-gap: 20px;
}
.products__section-title {
  padding: 30px 0;
  font-size: 25px;
}

.aside-bar {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.aside-bar__input {
  border: 1px solid rgba(51, 51, 51, 0.2941176471);
  padding: 1rem;
}

.filter__title {
  font-weight: 700;
  padding: 0.5rem 0;
}
.filter-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.price-filter__range {
  padding: 0.7rem;
  appearance: auto;
}

.product {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.product__image-container {
  width: 300px;
}
.product__image {
  max-width: 100%;
}
.product__name {
  font-weight: 700;
  font-size: 20px;
}
.product__price {
  font-size: 20px;
  font-weight: 600;
  color: rgb(160, 105, 63);
}
.product__add-to-cart-button {
  box-shadow: 3px 3px rgba(51, 51, 51, 0.231372549);
  padding: 0.5rem;
}
.product__add-to-cart-button:hover {
  background-color: rgb(87, 56, 36);
}

.product:hover {
  background-color: rgb(201, 182, 166);
}

/*# sourceMappingURL=style.css.map */
