.shopping-cart {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    width: 30vw;
    background-color: $page-bg-color;
    box-shadow: $outside-box-shadow;
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__remove-all-button {
        padding: 1rem;
    }
    &__remove-all-button:hover {
        color: $close-buttons-hover;
    }
    &__close-button {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    &__close-button:hover {
       color: $close-buttons-hover;
    }
    &__title {
        font-size: 30px;
        font-family: $hand-written-font;
        text-align: center;
        padding: 1rem;
    }
    &__products {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        overflow-y: auto;
    }
    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: $border;
    }
    &__total {
        text-align: center;
        font-family: $hand-written-font;
        font-size: 30px;
        padding: 1rem;
    }
    &__checkout-button {
        padding: 1rem ;
        box-shadow: $box-shadow;
        margin-bottom: 30px;
        background-color: $main-color;
        border-radius: 4px;
    }
    &__checkout-button:hover {
        background-color: $main-color-darker;
    }
}
.shopping-cart-product {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    border-top: $border;
    padding: 15px;
    &__image-container {
        width: 200px;
        height: 130px;
        padding: 10px;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__details {
        flex: 1 1 0;
    }
    &__name {
        font-weight: 700;
        font-size: 20px;
    }
    &__price {
        padding: 10px 0;
        font-weight: 700;
        color: $main-color;
    }
    &__remove-button {
        font-size: 18px;
    }
    &__remove-button:hover {
        color: $close-buttons-hover;
    }
}
.shopping-cart-product:hover {
    background-color: $product-bg-color;
}
.product-count {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    &__button {
        font-size: 25px;
    }
}