@import "reset";
@import "variables";
@import "templates";

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Montserrat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 120%;
    @extend %background-shade-and-image-template
}
.card {
    background: $card-background;
    color: azure;
    padding: 2em;
    border: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    &__button {
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 40px;
        width: 40px;
        outline: none;
        background: $search-background;
        color: $texcolor;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    &__bar {
        border: none;
        outline: none;
        padding: 0.4em 1em;
        border-radius: 24px;
        background: $search-background;
        color: $texcolor;
        font-family: inherit;
        font-size: 105%;
        width: calc(100% - 50px);
    }
}
.button:hover {
    background: $search-background-hover;
}

.weather {
    &__icon-box {
    display: flex;
    align-items: center;
    }
    &__description {
        text-transform: capitalize;
    }
}
.loading {
    visibility: hidden;
    position: relative;
}
.loading::after {
    visibility: visible;
    content: "Loading ... ";
    color: $texcolor;
    position: absolute;
    top: 0;
    left: 0;
}
.list {
    margin-top: 20px;
}
.forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding-left: 10px;
    column-gap: 10px;
    flex: 1 1 85%;
    &__temp {
        font-size: 18px;
    }
    &__day {
        flex: 1 1 15%;
    }
    &-box {
        font-family: inherit;
        display: flex;
        font-size: 18px;
        border-top: 2px solid #F0FFFF2b;
        padding-left: 10px;
    }
}