@import "reset";
@import "variables";

.body {
    background-color: $backgroung-color;
    height: 100vh;
    width: 100vw;
}
.header, .main {
    padding: 0 15px;
}
@media (min-width: 575.98px) {
    .header, .main {
        padding: 0 calc(50vw - 270px);
    }  
}
@media (min-width: 767.98px) {
    .header, .main {
        padding: 0 calc(50vw - 360px);
    }  
}
@media (min-width: 991.98px) {
    .header, .main {
        padding: 0 calc(50vw - 480px);
    }  
}
@media (min-width: 1199.98px) {
    .header, .main {
        padding: 0 calc(50vw - 590px);
    }  
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: $box-shadow;
    background-color: $header-background-color;
    &__title {
        color: $title-text-color;
        flex: 1 1 40%;
    }
}

.search {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1 1 40%;
    &__input {
        flex: 1 1 0%;
        height: 2rem;
        background-color: $light-mode-card-color;
        padding: 1rem;
    }
}
.dark-mode-button {
    width: 40px;
    height: 40px;
    border: $simple-border;
    border-radius: 50%;
    margin-left: 15px;
    color: $light-mode-card-color;
    font-size: 20px;
    background-color: $dark-mode-button-bgc;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__button {
        max-width: 150px;
        padding: 1rem;
        margin: 10px;
        background-color: $header-background-color;
        border-radius: 4px;
        box-shadow: $box-shadow;
    }
    &__menu {
        display: none;
        flex-wrap: wrap;
    }
    &__item {
        background-color: $header-background-color;
        padding: 1rem;
        margin: 10px;
        border-radius: 4px;
        box-shadow: $box-shadow;
    }
    &__item:hover {
        background-color: $header-background-color_hover;
    }
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 30px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: $light-mode-card-color;
    box-shadow: $box-shadow;
    &__img {
        max-width: 100%;
        height: 100%;
        max-height: 200px;
        object-fit: cover;
    }
    &__name {
        padding: 1rem 10px;
    }
    &__population {
        padding-left: 10px;
    }
    &__region {
        padding-left: 10px;
    }
    &__capital {
        padding-left: 10px;
        padding-bottom: 15px;
    }
}
.hidden {
    display: none;
}
.visible {
    display: block;
}