@import "reset";
@import "variables";
@import "container";

.body {
    background-color: white;
    font-family: Montserrat;
}
.background-image__container {
    position: relative;
}
.header {
    &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    }
    &__categories {
        display: flex;
        column-gap: 30px;
        row-gap: 10px;
    }
    &__title {
        font-size: 30px;
        font-family: Courgette;
    }
    &__shopping-cart {
        font-size: 25px;
        box-shadow: 3px 3px #3333335b;
        border-radius: 50%;
        padding: 0.6rem;
        background-color: rgb(77, 68, 68);
    }
    &__shopping-cart:hover {
        color: azure;
    }
    &__category:hover {
        color: azure;
    }
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70vh;
    &__background-image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(3px);
        
    }
    &__title {
        font-family: Courgette;
        font-size: 50px;
        margin: 20px 0px;
    }
    &__slogan {
        margin: 10px 0px;
        font-size: 20px;
    }
    &__button {
        margin: 10px 0px;
        font-size: 18px;
        box-shadow: 3px 3px #3333333b;
        background-color: rgb(160, 105, 63);
        padding: 0.3rem;
        border-radius: 5px;
    }
    &__button:hover {
        background-color: rgb(87, 56, 36);
    }
}

.featured {
    &__container{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;

    }
    &__title {
        padding: 0.5rem;
        font-size: 20px;
        text-align:center;
    }
    &__products {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        gap: 15px;
    }
    &__product {
        background-color: rgb(201, 182, 166);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 400px;
        row-gap: 10px;
        box-shadow: 3px 3px #3333333b;
        text-align: center;
    }
    &__product:hover {
        background-color: rgb(226, 212, 198);
    }
    &__button-to-all {
        padding: 0.8rem;
        box-shadow: 3px 3px #3333333b;
        background-color: rgb(160, 105, 63);
        border-radius: 5px;
        text-transform: uppercase;
    }
    
    &__button-to-all:hover {
        background-color: rgb(87, 56, 36);
    }

    &__image {
        max-width: 100%;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;

    }
}