%gradient-background-template {
    background-image: linear-gradient(to right, $pink, $purple);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}