$textc: rgb(54, 128, 112);
$bgcc: rgb(38, 144, 148);
$header-footertextc: darkslategrey;
$header-footerc: silver;
$mainc: rgb(240, 236, 236);
$footercreatebtnc: white;
$h-cln-input-width: 255px;
$full-cln-input-width: 532px;
$radio-label-textc: black;
$inputheight: 30px;