//colors
$page-bg-color: white;
$main-color: rgb(160, 105, 63);
$main-color-darker: rgb(87, 56, 36);
$product-bg-color: rgb(201, 182, 166);
$product-bg-color-hover: rgb(226, 212, 198);
$close-buttons-hover: tomato;
$disabled-button-color: rgb(161, 158, 158);

//fonts
$main-font: Montserrat;
$hand-written-font: Courgette;

//box-styling
$box-shadow: 3px 3px #3333333b;
$outside-box-shadow: 0 0 0 999em rgba(0,0,0,0.8);

$border: solid 2px #3333333b;
$light-border: 1px solid #3333334b;