$backgroung-color: rgb(195, 231, 220);
$header-background-color: rgb(89, 124, 114);
$header-background-color_hover: rgb(69, 95, 88);
$light-mode-card-color: azure;
$title-text-color: rgb(40, 43, 42);
$box-shadow: #3333332b 3px 3px;
$dark-mode-button-bgc: rgb(22, 39, 33);
$simple-border: 1px solid black;